% !TEX TS-program = xelatex
% !TEX encoding = UTF-8 Unicode

\documentclass{memoir}
\usepackage[a4paper]{geometry}
\geometry{top=4cm,bottom=2cm,left=2cm,right=2cm}

\usepackage{graphicx}
\usepackage[dvipsnames]{xcolor}
\usepackage{adjustbox}
\usepackage{newtxtext,newtxmath}
\usepackage{array}
\usepackage{tabularx}
\usepackage{multicol}
\usepackage{hyperref}

\pagenumbering{gobble}

\setlength{\voffset}{-0.75in}
\setlength{\headsep}{5pt}
\setlength{\columnsep}{18pt} % Set the space between columns
\setlength{\tabcolsep}{12pt}

\newcommand{\fontdir}{^^ font_dir ^^/#1}
\newcommand{\imagedir}{^^ image_dir ^^/#1}

\font\beleren[\fontdir{beleren-bold_P1.01.ttf}] at 16pt
\font\belerensmallcaps=[\fontdir{belerensmallcaps-bold.ttf}] at 20pt
\font\guildtext=[\fontdir{belerensmallcaps-bold.ttf}] at 12pt
\font\datefont=[\fontdir{MatrixBold.ttf}] at 14pt
\font\cardcount=[\fontdir{MatrixBold.ttf}] at 14pt

\newcommand{\graphicheight}{0.6cm}
\newcommand{\manaicon}[1]{\hspace{-0.45cm}\adjincludegraphics[height=\graphicheight,valign=M]{\imagedir{#1}}}
\newcommand{\iconrow}[3][\vspace{0}]{\manaicon{#2} & \adjustbox{valign=M}{\belerensmallcaps{#3}} \\}
\newcommand{\rarityrow}[2]{\beleren{#1} & \beleren{#2} \\}

\setlength{\columnsep}{0cm}

\begin{document}
    \renewcommand{\arraystretch}{2}
    \centering\includegraphics[width = \textwidth]{\imagedir{^^ set_code ^^}}
    \begin{center}
        \centering\makebox[\textwidth]{\datefont{^^ cards_total ^^ cards}\hspace{12pt}\datefont{^^ release_date ^^}}
        \begin{minipage}{0.95\textwidth}
            \vspace{1cm}
            \begin{multicols*}{3}
                    \begin{tabularx}{0.8\linewidth}{m{2cm} m{1cm}}
                    {% for color, amount in color_totals %}
                        \iconrow{^^ color ^^}{^^ amount ^^}
                    {% endfor %}
                    \end{tabularx}
                \vfill
                \columnbreak[4]
                \begin{tabularx}{\linewidth}{m{2cm} r }
                    {% for color, amount in multi_color_totals %}
                        \iconrow[^^ color ^^]{^^ color ^^}{^^ amount ^^}
                    {% endfor %}
                \end{tabularx}
                \vfill
                \columnbreak[4]
                \begin{tabularx}{\linewidth}{m{3cm} X }
                    {% for rarity, amount in rarity_totals %}
                        \rarityrow{^^ rarity ^^}{^^ amount ^^}
                    {% endfor %}
                \end{tabularx}
            \end{multicols*}
        \end{minipage}
    \end{center}
\end{document}
